<div class="header">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">Project BnB</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li ng-class="{ active: isActive('/')}"><a ui-sref="app">Accueil</a></li>
          <li ng-class="{ active: isActive('/bookings/add')}"><a ui-sref="app.bookings.add">Reservations</a></li>
          <li ng-class="{ active: isActive('/vacation/add')}"><a ui-sref="app.vacation.add">Dates de Fermeture</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
